
<script src="https://maps.googleapis.com/maps/api/js"></script>

<script>     
  setInterval(function(){$.get( "/addvisuals", {trip_id: $('#map-canvas').data('trip-id')},"script");}, 4000);
</script>


<div><h1>Mountain Map</h1></div>
<%= content_tag "div", id: "map-canvas", data: {lat: @lat, lng: @lng, zoom: @zoom_level, visuals: @visuals,  trip_id: @trip.id} do %>

<% end %>

<%= link_to "Log Out", sessions_destroy_path %>





