
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>     
function markerTimer(){$.get( "/addvisuals", {trip_id: $('#map-canvas').data('trip-id')},"script");}
var timer=setInterval(markerTimer, 4000);
</script>

<%= link_to "Show Photos", showphotos_path, remote: true %>
<%= link_to "Clear Photos", clearphotos_path, remote: true %>

<div id="photo-time"> </div>
<div><h1><%= @trip.hashtag %></h1></div>
<%= content_tag "div", id: "map-canvas", data: {lat: @lat, lng: @lng, zoom: @zoom_level, visuals: @visuals,  trip_id: @trip.id} do %>
<% end %>

<a class="fancybox-thumb" rel="fancybox-thumb" href="http://farm9.staticflickr.com/8507/8454547519_f8116520e1_b.jpg" title="Ayvalık, Turkey (Nejdet Düzen)">
  <img src="http://farm9.staticflickr.com/8507/8454547519_f8116520e1_m.jpg" alt="" />
</a>





