  
<li>
<ul>
<p><%= link_to  usertrips.hashtag, trip_url(Trip.find(usertrips.id))%></p>
<p><%= usertrips.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%d %b. %Y") %></p>

</ul>
</li>