  
<li>
<ul>
<h2><%= link_to  usertrips.hashtag, trip_url(Trip.find(usertrips.id))%></h2>
<h4><%= usertrips.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%d %b. %Y") %></h4>
</ul>
</li>