

<h1>About Ski Mountain Memories (SMM)</h1>
  
<ul class="text-left">
    
<div id="accordion">
<h2>What is it?</h2>
<div class="indent">
SMM allows you register an email address, and receive daily emails with questions the SMM team has decided are suitable for newer developers. The questions are selected based on data provided by the Stack Overflow API and attempt to guarantee the following:
<ol>
  <li>Each question must be appropriate to a new developer's level of knowledge</li>
  <li>Each question must not have been answered at the time the daily email is sent</li>
  <li>While possible each user must receive a unique question from each other user so that users of SMM don't cannibalize their own opportunities to answer questions</li>
  <li>While possible each user must only receive questions they have not previously been sent</li>

</ol>
</div>

<h2>Why build it?</h2>
<div class="indent">
  This project was started because it seemed like an interesting idea, and because it seemed like it would have practical applications during our final weeks at The Flatiron School. 
</div>

<h2>How does it work?</h2>
<div class="indent">
SMM is powered by an algorithm that tries to differentiate between "easy" and "hard" questions based on the tags appended to a question, the overall length of a question, and the proportion of a question that consists of code. The algorithm is based on the following assumptions:
<ul>
<li>Questions with a single, general tag (e.g., "Ruby") are easier than questions with multiple, specific tags (e.g., "Ruby", "Ruby on Rails", "SQL", "JavaScript")</li>
<li>Short questions are easier than long questions</li>
<li>Questions with little code are easier than questions with lots of code</li>
</ul>
These assumptions, of course, do not always hold. Long questions with multiple tags and extensive code snippets may be resolved by a single line of code, while brief, code-less questions may harbor difficult questions on language design. Still, the algorithm has been relatively effective at identifying the small number of "easy" questions available on Stack Overflow at any given time. In the future, the SMM team hopes to train a classifier algorithm with labeled examples to improve SMM's ability to deliver questions calibrated to a user's preferred level of difficulty.


SMM is hosted on Heroku, Ruby on Rails powers the server side, JQuery helps to handle client side interactions, and GitHub's omniauth service is used for user authentication and registration. 
</div>

<h2>Who made it?</h2>
<div class="indent">
SMM is a project built by three students at The Flatiron School's web immersive course in NYC, NY. It's goal is to allow newer developers to streamline one part of the process of building an on-line presence with Stack Overflow. 
</div>

<h2>Why can't I select questions other than Ruby/Rails?</h2>
<div class="indent">
It would be great to be able to send users customized question sets. However the way Stack Overflow allows users to tag questions meant that tags were not always useful in determining content or difficulty. In the interests of time and creating something of use to us, this feature was shelved in favor of completing the rest of the project.
</div>

<h2>Where can I look at your code?</h2>
<div class="indent">
<%= link_to "Follow the project on GitHub", "http://github.com/samvantran/ski-mountain-memories/", :target => "_blank" %>
</div>

</div>
</ul>
