<h1><a href="https://api.instagram.com/oauth/authorize/?client_id=28929bccd4d0478fb89847a3c0158846&redirect_uri=http://localhost:3000/auth/:provider/callback&response_type=code">Sign into Instagram</a></h1>

