<%= notice %>
<!-- <div class="container">
  <div class="main-navbar">
    <button class="navbar-button" type="button" >
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    </a>
  </div>
</div>

<div class="container">
  <div class="navbar-links">
    <ul class="main-links">
      <li><a href="<%= instagram_oauth_connect_path %>">Sign in with Instagram</a></li>
      <hr>
      <li><a href="#">About</a></li>
      <hr>
      <li><a href="#">Team</a></li>
    </ul>
  </div>
</div> -->

<canvas id="canvas"></canvas>

<script>snow()</script>