


  <h1>Meet the Team</h1>

          <a href="#"><%= image_tag "http://uploads-registrar-flatironschool-com.s3.amazonaws.com/profiles/photos/production/88/large/blake_deboer_crop.jpg?1417210912" %></a>
          <h3>Blake</h3>
          <h3>Deboer</h3>
          <h4>Student @ The Flatiron School</h4>
           <p>DESCRIPTION HERE</p>


          <a href="#"><%= image_tag "http://uploads-registrar-flatironschool-com.s3.amazonaws.com/profiles/photos/production/101/large/Sam_Tran.jpg?1416415225" %></a>
          <h3>Sam</h3>
          <h3>Tran</h3>
          <h4>Student @ The Flatiron School</h4>
           <p>DESCRIPTION HERE</p>

          <a href="#"><%= image_tag "http://uploads-registrar-flatironschool-com.s3.amazonaws.com/profiles/photos/production/111/large/20141012_142653.jpg?1417664198" %></a>
          <h3>Jimmy </h3>
          <h3>Kuruvilla</h3>
          <h4>Student @ The Flatiron School</h4>
           <p>Jimmy left a career as an environmental engineer to pursue web development. He enjoys spending time with his family and visiting nature preserves and zoos.</p>

