body {
  /*text-align: center;
  vertical-align: middle;*/
  background: url("bg-mountain.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  font-family: Helvetica, Arial, san-serif;
  margin: 0;
  padding: 0;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-links {
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 14%;
  left: 101%;
  top: 0;
  background-color: #111;
  opacity: 0.75;
}

button.navbar-button {
  z-index: 100;
  position: fixed;
  left: 96%;
  margin-top: -4.5%;
  height: 40px;
  width: 40px;
  opacity: 0.65;
  background-color: #000;
  /*background: url("snowflake-small.png");
  background-size: cover;*/
}

.navbar-button span.icon-bar {
  display: block;
  margin: 25% 0;
  width: 90%;
  background-color: #fff;
  border-radius: 4px;
  height: 2px;
}

.main-links {
  padding: 10px;
}

.main-links li {
  list-style-type: none;
  text-align: center;
  font-size: 1.3em;
  text-transform: uppercase;
}

.main-links li a {
  text-decoration: none;
}

.main-links hr {
  margin: 10px -10px;
  width: 130%;
}
/*
canvas {
  display: block;
}*/

canvas#canvas {
  position: fixed;
  z-index: -999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#map-canvas {
  width: 1000px;
  height: 800px; 
  margin-right: auto;
  margin-left: auto;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */

@media (max-width: 769px) {
   .navbar-button {
    left: 90%;
    margin-top: -8%;
  }
}

@media (max-width: 361px) {
  .navbar-button {
    left: 70%;
    top: 10%;
    height: 2.5em;
    width: 2.5em;
  }
}
