
html, body {
  text-align: center;
  vertical-align: middle;
  background: url("bg-mountain.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  font-family: Helvetica, Arial, san-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.navbar-links {
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 25%;
  left: 75%;
  top: 0;
  background-color: #111;
  opacity: 0.85;
  font-weight: bold;
  line-height: 2em;
  overflow: scroll;
}

.navbar-button {
  position: fixed;
  z-index: 100;
  left: 71%;
  margin-top: 1%;
  height: 40px;
  width: 40px;
  opacity: 0.65;
  background-color: #000;
/*  background: url("snowflake-small.png");
  background-size: cover;*/
}

.navbar-button span.icon-bar {
  display: block;
  margin: 25% 0;
  width: 90%;
  background-color: #fff;
  border-radius: 4px;
  height: 2px;
}

.main-links {
  padding: 10px;
  list-style-type: none;
  text-align: center;
  font-size: 1.3em;
  text-transform: uppercase;
  color: orange;
}
.main-links hr { margin: 10px -10px; }
.main-links li a { text-decoration: none; }
.main-links li a img { border: 1px solid white; margin: 0 auto; width: 55%; }
.main-links li.trip-buddies a img { width: 20%; border-radius: 50%; margin: 0.20em; }

#snowfall-canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#map-canvas {
  position: fixed;
  margin: auto;
  border-radius:15px;
  height: 35em;
  width: 90%;
}

.form-container {
  position: relative;
  margin: auto;
  width: 75%;
  top: 5em;
  z-index: 2;
  padding: 0.1em 0 1.5em 0;
  background-color: #111;
  opacity: 0.85;
}
.form-container h1, .form-container h2 { 
  color: orange;
}
.form-container h2 {
  transform: scale(0.9);
}
.form-container input, .form-container select {
  font-size: 1.2em;
  margin: 0.25em; 
  border-radius: 5px;
  text-align: center;
  color: black;
  width: 15em;
}
.form-container input[type="submit"] {
  width: 10em;
  background-color: white;
  border: 2px solid #abc;
}
.form-container input[type="text"], .form-container select {
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
}
.team {
  background-color: #111;
  margin: 5em 0;
  padding: 1em;
  opacity: 0.9;
  color: #eee;
}
.team img {
  border-radius: 50%;
  margin-top: 1em;
  width: 40%;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */

@media (max-width: 361px) {
  .main-links {
    font-size: 1em;
    line-height: 1.25em;
    text-transform: none;
  }
  
  .navbar-button {
    left: 85%;
    top: 1%;
    height: 2.5em;
    width: 2.5em;
  }
}
