html,body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  vertical-align: bottom;
}

#map-canvas {
/*  display: block;*/
  position: fixed;
  height: 100%;
  width: 100%;
/*  background: red;*/

/*  margin-right: auto;
  margin-left: auto;*/
}